.analytics {
    z-index: 2;

    .analytics__container {
        padding: 10px 50px 10px 35px;
        border-bottom: 1px solid #ECEBF5;
        // transform: rotate(180deg);

        .analytics__top {
            ul {
                display: flex;

                li {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    cursor: pointer;
                    /* identical to box height, or 150% */


                    /* Text/body-text */

                    color: #696D8C;

                    padding-right: 40px;


                    a {

                        position: relative;

                    }
                }


            }

            .active {
                color: #060213;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                position: relative;


            }

            .active::after {
                display: block;
                content: "";
                width: 100%;
                border-bottom: 2px solid #6837EF;

                height: 30px;
                position: absolute;
                top: 1px;
            }

        }


    }

    .analytics__content {
        padding: 30px 50px 30px 35px;


    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 160%;
            /* or 38px */


            /* Text/black */

            color: #060213;
            flex: 1;
        }

        .content {
            flex: 2;
            display: flex;
            justify-content: space-around;
            align-items: center;

            form {
                width: 350px;

                .form__group {
                    position: relative;
                    display: flex;

                    input {
                        width: 100%;
                        padding: 16px 34px;
                        background: #FFFFFF;
                        border: 1px solid #ECEBF5;

                        border-radius: 10px;
                        outline: none;


                    }

                    input::placeholder {
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 29px;
                        /* identical to box height, or 181% */

                        display: flex;
                        align-items: center;

                        color: #A3A3C2;
                        padding-left: 30px;
                    }

                    svg {
                        position: absolute;
                        left: 14px;
                        top: 14px;
                    }
                }

            }

            .select__option {
                background: #FFFFFF;
                border: 1px solid #ECEBF5;
                padding: 12px 16px;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    padding-right: 12px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height, or 150% */

                    display: flex;
                    align-items: center;

                    /* Text/black */

                    color: #060213;
                }
            }

            button {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 16px;
                position: static;
                width: 105px;
                height: 44px;
                left: 566px;
                top: 0px;
                color: #fff;
                background: #25BB87;
                border-radius: 8px;
                border: none;
            }
        }
    }

    .analytic__graph {
        padding: 8px 50px 30px 35px;

        .graph__content {
            background: #FFFFFF;
            /* Border/stroke */

            border: 1px solid #ECEBF5;
            border-radius: 10px;
            height: 314px;

            .graph__container {
                height: 100%;
                width: 100%;
            }
        }
    }
}

@media(max-width:820px) {
    .analytics .flex {
        display: block;
    }

    .analytics .flex h4 {
        display: block;
        font-size: 18px;
    }
}

@media(max-width:550px) {
    .analytics .flex .content form {
        width: 100%;
        margin-bottom: 10px;
    }

    .analytics .flex .content {
        display: block;
    }

    .analytics .flex .content button {
        margin-top: 10px;
    }

    .analytics .analytics__container .analytics__top ul li a {
        font-size: 11px;
    }

    .analytics .analytics__container .analytics__top ul li {
        padding-right: 15px;
    }
}
