header {
    border-bottom: 1px solid #ECEBF5;
    padding: 10px 50px 10px 35px;

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        form {
            width: 441px;

            .form__group {
                position: relative;
                display: flex;

                input {
                    width: 100%;
                    padding: 22px 10px;
                    background: #FAFAFC;
                    border: none;
                    border-radius: 10px;
                    outline: none;


                }

                input::placeholder {
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 29px;
                    /* identical to box height, or 181% */

                    display: flex;
                    align-items: center;

                    color: #A3A3C2;
                }

                svg {
                    position: absolute;
                    right: 14px;
                    top: 18px;
                }
            }

        }

        .notification {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* Border/stroke */
            border: 1px solid #ECEBF5;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 6px 8px;

            span {
                padding: 0 10px;
            }
        }
    }

}


@media(max-width:768px) {
    header .header__container {
        gap: 1rem;
    }
}