section {
    position: fixed;
    background-color: #fff;
    height: 100vh;
    left: 0;
    top: 0;
    width: 262px;
    border-right: 1px solid #ECEBF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 8;


    .sidebar__top {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 20px;

        .toggle {
            display: none;
        }

        .brand {
            display: flex;
            // justify-content: center;
            // align-items: center;
            flex-direction: column;
            background: #FFFFFF;
            /* Border/stroke */

            border: 1px solid #ECEBF5;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 10px 35px;

            h4 {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                /* or 157% */

                display: flex;
                align-items: center;

                /* Text/black */

                color: #060213;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                /* identical to box height, or 167% */

                display: flex;
                align-items: center;

                /* Text/body-text */

                color: #696D8C;
            }
        }

        .links {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &>ul {

                li {
                    padding: 0.6rem 0.4rem;
                    display: flex;
                    justify-content: space-between;

                    a {
                        display: flex;
                        align-items: center;

                        span {
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            /* identical to box height, or 150% */


                            /* Text/body-text */

                            color: #696D8C;


                            margin: 0px 16px;
                        }

                        .last {
                            color: #6837EF;
                        }
                    }
                }

                .subNav {
                    padding: 1px 30px;

                    a {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        /* identical to box height, or 150% */


                        /* Text/black */

                        color: #696D8C;
                    }
                    .active_link{
                        color: #060213;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 280px) and (max-width: 1236px) {
    section {
        position: initial;
        width: 100%;
        height: max-content;
        padding: 1rem;
        width: 100%;

        .sidebar__top {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
            width: 100%;



            .brand {
                gap: 1rem;
                /* justify-content: flex-end; */
                width: auto;
            }

            .toggle {
                display: block;
                color: white;
                z-index: 100;

                svg {
                    font-size: 1.4rem;
                    color: #fff;
                }

                :first-child {
                    color: #060213;
                }

            }
        }

        .sidebar__top>.links {
            display: none;
        }
    }
}

@media(max-width:768px) {
    section .sidebar__top .brand {
        gap: 0;
    }
}